<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Create Playlist</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <form action="/createPlaylist" method="POST" class="col s12" id="create-playlist-form" style="height: 400px;" autocomplete="off">
    <div class="modal-content" style="height: 85%;">
      <h4>Add a playlist</h4>
      <hr>
      <div class="input-field col s12">
          <i class="material-icons prefix">add</i>
          <input id="playlistName" name="playlistName" class="autocomplete" type="text" required>
          <label for="playlistName">playlist name</label>
      </div>
    </div>
    <div class="modal-footer" style="height: 15%;">
      <button class="waves-effect waves-green btn" onclick="addPlaylist()" title="Add playlist"><i class="material-icons left">add</i>Add</button>
    </div>
  </form>
</div>

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> 
<script src="/js/userUtil.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $.getJSON("/json/playlistNames.json", function(data) {
        $('input.autocomplete').autocomplete({
            data: data,
            limit: 4
        });
    })
  })
</script>