<div class="col s12">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content valign-wrapper">
                <button class="btn-floating btn-small waves-effect waves-light green" onclick="changeInputState('<%= playlist.id %>')"><i class="material-icons" title="Add to playlist">indeterminate_check_box</i></button>
                <a href="/playlist/<%= playlist.id %>" class="playlist-name"><%= playlist.playlistInfo.name %></a>
                <span class="video-count badge"><%= playlist.playlistInfo.videoCount %></span>
            </div>
            <div class="card-action" id="youtube-video-input<%= playlist.id %>" style="display: none;">
                <div class="col s12">
                    <div class="progress s12" id="progress<%= playlist.id %>" style="display: none;">
                        <div class="indeterminate"></div>
                    </div>
                    <input class="s11" type="text" placeholder="Enter YouTube URL" name="youtubeUrl<%= playlist.id %>" id="<%= playlist.id %>"></input>
                    <button class="btn-floating btn-small waves-effect waves-light green s1" onclick="addToPlaylist('<%= playlist.id %>', true)"><i class="material-icons" title="add">add</i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="/js/youtube.js"></script>