<nav>
    <div class="nav-wrapper purple darken-2">
        <div class="container">
            <a href="/" class="brand-logo center"><i class="material-icons left">music_video</i>OffTube</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/" title="go home"><i class="material-icons left">home</i>Home</a></li>
              <li><a href="/"><i class="material-icons left">playlist_play</i>Playlists</a></li>
              <!-- <li class=""><a href="collapsible.html">JavaScript</a></li> -->
            </ul>
            <ul class="right hide-on-med-and-down">
                <% if(login) { %>
                    <li><a href="/logout" title="logout"><i class="material-icons">logout</i></a></li>
                <% } %>
                <!-- <li><a href="sass.html"><i class="material-icons">message</i></a></li>
                <li><a href="sass.html"><i class="material-icons">notifications_none</i></a></li>
                <li><a href="sass.html"><i class="material-icons">toc</i></a></li> -->
            </ul>
        </div>
    </div>
  </nav>