<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/header.ejs', {title: "YouTube Offloader"}) %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./components/navbar.ejs') %>
    <div class="container">
        <% if(login) { %>
            <%- include('./components/createPlaylist.ejs') %>
            
            <div class="container s12">
                <% playlists.forEach((playlist) => { %>
                    <%- include('./components/list.ejs', {playlist: playlist}) %>
                <% }) %>
            </div>
        <% } else { %>
            <h3>You have to login first to create a playlist</h3>
            <h5>To be able to listen to your favourite YouTube videos without ads, you'll need to <a href="/login">login</a> first. If you don't have an account, <a href="signup">create one here.</a></h5>
        <% } %>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // This is required for createPlaylist's modal
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
</body>
</html>