<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/header.ejs', {title: "Playlist"}) %>
    <link rel="stylesheet" href="/css/playlist.css">
</head>
    <body>
        <% if(playlist.items.length > 0) { %>
            <audio controls class="" id="player">
                <% var url = "https://offtube.s3.amazonaws.com/" + playlist.items[0].id + ".mp3"; %>
                <source src="<%= url %>" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        <% } %>
        <%- include('./components/navbar.ejs') %>
        <% if(playlist) { %>
            <!-- Modal Structure -->
            <% if (typeof user !== "undefined" && playlist.owner.id === user.id) { %>
                <div id="edit" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s6 input-field">
                                        <input type="text" id="playlist-name-input" class="autocomplete" value="<%=playlist.playlistInfo.name%>" required autocomplete="none">
                                        <label for="playlist-name-input">Playlist name</label>
                                    </div>
                                    <div class="col s6 input-field">
                                        <select id="visibility" name="visibility" class="" required>
                                            <option value="public" <% if(playlist.visibility === "public") { %> selected <% } %> >public</option>
                                            <option value="private" <% if(playlist.visibility === "private") { %> selected <% } %> >private</option>
                                        </select>
                                        <label for="visibility">Visibility</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close waves-effect waves-green btn grey">Cancel</button>
                        <button class="modal-close waves-effect waves-green btn green" id="edit-submit" name="<%=playlist.playlistInfo.name%>">Submit</button>
                    </div>
                </div>
            <% } %>
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <% if (typeof user !== "undefined" && playlist.owner.id === user.id) { %>
                        <div class="col s12 right-align">
                            <a class="tooltipped edit-playlist" data-position="bottom" data-tooltip="add to playlist" onclick="changeInputState('common')"><i class="material-icons small s6">add_box</i></a>
                            <a href="#edit" class="tooltipped edit-playlist modal-trigger" data-position="bottom" data-tooltip="edit playlist"><i class="material-icons small s6">settings_applications</i></a>
                        </div>
                        <!-- Add video to the playlist -->
                        <div class="col s12" id="youtube-video-inputcommon" style="display: none;">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-action" id="youtube-video-input<%= playlist.id %>">
                                        <div class="col s12">
                                            <div class="progress s12" id="progress<%= playlist.id %>" style="display: none;">
                                                <div class="indeterminate"></div>
                                            </div>
                                            <input class="s11" type="text" placeholder="Enter YouTube URL" name="youtubeUrl<%= playlist.id %>" id="<%= playlist.id %>"></input>
                                            <button class="btn-floating btn-small waves-effect waves-light green s1" onclick="addToPlaylist('<%= playlist.id %>',true)"><i class="material-icons" title="add">add</i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="col s12">
                        <h3 class="center-align" id="playlistName"><%= playlist.playlistInfo.name%></h3>
                    </div>
                </div>
            </div>
            <!-- Floating Action Button -->
            <div class="container hide-on-small-only">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red tooltipped" data-tooltip="Delete"><i class="material-icons">delete_forever</i></a></li>
                        <li><a class="btn-floating green tooltipped" data-tooltip="Edit all"><i class="material-icons">list</i></a></li>
                        <li><a class="btn-floating blue tooltipped" data-tooltip="Add to playlist"><i class="material-icons">playlist_add</i></a></li>
                    </ul>
                </div>
            </div>
            <% if(playlist.items.length > 0) { %>
                <div class="container row">
                    
                    <div class="s12">
                        <h4 class="center-align current-title"><%= playlist.items[0].title %></h4>
                    </div>
                    <ul id="playlist">
                        <% playlist.items.forEach((e, i) => { %>
                            <% var url = "https://offtube.s3.amazonaws.com/" + e.id + ".mp3"; %>
                            <li class="<% if (i === 0) { %> active <% } %> valign-wrapper playlist-item s12" title="<%=e.id%>" name="<%=e.title%>">
                                <i class="material-icons reorder-icon handler">drag_indicator</i>
                                <div class="s10 ignore-drag">
                                    <span href="<%= url %>" class="purple-text text-darken-1 video-title"><%=e.title%></span>
                                </div>
                                <% if (typeof user !== "undefined" && playlist.owner.id === user.id) { %>
                                    <div class="ignore-drag s2 hide-on-small helper-buttons">
                                        <a class="waves-effect waves-green btn-small red darken-1 remove" id="<%=e.id%>" title="Delete from playlist">remove</a>
                                    </div>
                                    <div class="ignore-drag s2 hide-on-med-and-up">
                                        <i class="material-icons reorder-icon" style="cursor: pointer;">chevron_left</i>
                                    </div>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } else { %>
                <div class="container">
                    <h4>You've got nothing in this playlist yet...</h4>
                </div>
            <% } %>
        <% } else { %>
            <div class="container">
                <h4><%= message %></h4>
            </div>
        <% } %>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="/js/playlist.js"></script>
        <script src="/js/youtube.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <% if(playlist) { %>
            <script>

                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.fixed-action-btn');
                    var instances = M.FloatingActionButton.init(elems, {direction: "top", hoverEnabled: false});
                    var elems = document.querySelectorAll('.tooltipped');
                    var instances = M.Tooltip.init(elems, {position: "left", outDuration: 200, exitDelay: 0});
                    $('.modal').modal();
                    $('select').formSelect();

                    $.getJSON("/json/playlistNames.json", function(data) {
                        $('input.autocomplete').autocomplete({
                            data: data,
                            limit: 8
                        });
                    })
                });
            </script>
        <% } %>
    </body>
</html>