<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/header.ejs', {title: "Signup"}) %>
</head>
<body>
    <%- include('./components/navbar.ejs') %>
    <div class="container s12">
        <div class="row">
            <form action="/signup" method="POST" class="col s12" id="signup-form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" name="email" type="text" aria-required="true" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" name="name" type="text" data-length="25" aria-required="true" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">security</i>
                        <input id="password" name="password" type="password" required>
                        <label for="password" aria-required="true">Password</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" id="signup-button" type="submit">Login</button>
            </form>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/js/signup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <% if(typeof message != 'undefined') { %>
        <style>
            .toast {
                background-color: #e53935;
            }
        </style>
        <script>
            M.toast({html: "<%= message %>"})
        </script>
    <% } %>

    <script>
        $(document).ready(function() {
            $('input#name').characterCounter();
        });
    </script>
</body>
</html>