.reorder-icon {
    color: #0072ac;
    cursor: grab;
    margin-right: 5px;
}

.playlist-item {
    padding: 10px 15px;
    font-size: 1.4em;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    transition: transform .15s;
}

.purple-background {
    background-color: rgb(239, 200, 251);
}

.active .video-title {
    -webkit-animation:colorchange 20s infinite alternate;
}

.video-title {
  cursor: pointer;
}

.helper-buttons {
  font-weight: 400;
}

.highlight-chosen {
  background-color: rgb(239, 200, 251);
}

.sortable-drag {
  opacity: 0;
}

.ignore-drag {
  margin-left: auto;
  /* transition: width 0.5s; */
}

#edit {
  height: 500px;
}

#edit .modal-content {
  height: 85%;
}

#edit .modal-footer {
  height: 15%;
}

@-webkit-keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }

.edit-playlist {
  cursor: pointer;
  color: black !important;
}

audio {
  position:fixed;
  bottom:0px;
  width: 50%;
  margin-left: 25%;
}

@media only screen and (max-width: 776px) {
  audio {
    width: 100%;
    margin-left: 0;
  }
}